<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <title>Social Media Dashboard</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            flex: auto;
        }

        h1 {
            font-size: 40px;
            top: 20px;
            position: relative;
        }

        h2 {
            color: hsl(228, 12%, 44%);
            font-size: 28px;
            top: -100px;
            position: relative;
        }

        h3 {
            font-size: 16px;
            position: relative;
            top: 0px;
            color: hsl(228, 12%, 44%);
        }

        p {
            position: relative;
            color: hsl(228, 12%, 44%);
        }

        .attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }

        /* #region Header */
        header {
            display: inline-block;
            width: 100%;
            background-color: hsl(225, 100%, 98%);
            height: 140px;
        }

        hr {
            display: none;
        }

        .color-toggle {
            float: right;
            top: -83px;
            position: relative;
            width: 180px;
            display: flex;
        }

        .header-wrapper {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        .toggle {
            color: hsl(228, 12%, 44%);
            font-weight: bold;
            font-size: 19px;
            flex: auto;
            margin-top: auto;
            margin-bottom: auto;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 32px;
            margin-top: auto;
            margin-bottom: auto;
            transform: rotate(180deg);
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: hsl(228, 12%, 44%);
            background-image: none;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 6px;
            bottom: 3px;
            background-color: #20222f;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #3f95cd;
            background-image: linear-gradient(to right, #3f95cd, #3ecc8e);
        }

        input:focus+.slider {
            box-shadow: 0 0 1px hsl(228, 12%, 44%);
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(32px);
            -ms-transform: translateX(32px);
            transform: translateX(32px);
            background-color: white;
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        /* #endregion */

        /* #region Top KPIs */
        .kpi-card {
            background: #ebf1ff;
            height: 250px;
            width: 300px;
            margin: 10px;
            border-radius: 8px;
        }

        .kpi-wrapper {
            justify-content: space-evenly;
            flex-wrap: wrap;
            position: relative;
            top: -120px;
            display: flex;
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        .card-top-facebook {
            width: 300px;
            height: 5px;
            background-color: #168ff7;
            border-radius: 8px 8px 0px 0px;
        }

        .card-top-twitter {
            width: 300px;
            height: 5px;
            background-color: #1da1f3;
            border-radius: 8px 8px 0px 0px;
        }

        .card-top-instagram {
            width: 300px;
            height: 5px;
            background-color: #e74f98;
            background-image: linear-gradient(to right, #ffbd67, #e74f98);
            border-radius: 8px 8px 0px 0px;
        }

        .card-top-youtube {
            width: 300px;
            height: 5px;
            background-color: #c30028;
            border-radius: 8px 8px 0px 0px;
        }

        .kpi-card-top {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            padding-top: 20px;
        }

        .icon {
            margin-top: auto;
            margin-bottom: auto;
        }

        .handle {
            margin-top: auto;
            margin-bottom: auto;
        }

        img {
            height: 25px;
        }

        .icon {
            text-align: right;
            padding-right: 10px;
        }

        .kpi {
            text-align: center;
            font-size: 65px;
            font-weight: bold;
        }

        .unit-of-measure {
            color: hsl(228, 12%, 44%);
            font-weight: normal;
            letter-spacing: 6px;
            text-align: center;
            top: -20px;
            position: relative;
        }

        .delta {
            text-align: center;
        }

        .up {
            color: #10bf66;
            font-weight: bold;
        }

        .down {
            color: red;
            font-weight: bold;
        }

        /* #endregion */

        /* #region Overview */
        .overview-header {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        .overview-wrapper {
            justify-content: space-evenly;
            flex-wrap: wrap;
            position: relative;
            display: flex;
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        .kpi-small {
            width: 300px;
            background: #ebf1ff;
            margin: 10px;
            height: 150px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 3fr 1.3fr;
            grid-template-rows: 1fr 1fr;
        }

        .overview-kpis {
            align-content: space-evenly;
            width: 100%;
            position: relative;
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
            top: -110px;
        }

        .page-views {
            padding-left: 40px;
            color: hsl(228, 12%, 44%);
            padding-top: 34px;
            font-size: 16px;
        }

        .logo {
            padding-top: 30px;
            padding-left: 20px;
            text-align: right;
            padding-right: 30px;
        }

        .views {
            padding-top: 5px;
            padding-left: 40px;
            font-size: 35px;
            font-weight: bold;
        }

        .movement {
            padding-top: 25px;
            text-align: right;
            padding-right: 30px;
        }

        /* #endregion */

        /* #region Max width 1355px */
        @media (max-width: 1355px) {
            h1 {
                margin-left: 20px;
            }

            h3 {
                margin-left: 20px;
            }

            h2 {
                margin-left: 20px;
            }

            .color-toggle {
                margin-right: 20px;
            }
        }

        /* #endregion */

        /* #region Max width 700px */
        @media (max-width: 700px) {
            h1 {
                margin-left: 20px;
                font-size: 29px;
                transition: ease-in-out 0.5s;
                padding-right: 10px;
            }

            .color-toggle {
                top: 30px;
                float: left;
                width: 90%;
                margin-left: 20px;
            }

            .kpi-wrapper {
                top: -30px;
                transition: ease-in-out 0.5s;
            }

            hr {
                display: block;
                width: 90%;
                top: -40px;
            }

            .kpi-card {
                width: 45%;
            }

            .kpi-card-top {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }

            .kpi {
                font-size: 45px;
            }

            .kpi-small {
                width: 45%;
            }

            .overview-wrapper {
                top: -20px;
            }

            .overview-kpis {
                top: -50px;
            }

            .views {
                font-size: 30px;
            }

            .logo {
                padding-top: 0;
                text-align: right;
                padding-left: 20px;
            }

            .card-top-facebook,
            .card-top-instagram,
            .card-top-twitter,
            .card-top-youtube {
                width: 45%;
            }

            .kpi-card-top {
                grid-template-columns: 1fr 1.2fr;
                grid-template-rows: 1fr;
            }

            .kpi-small {
                width: 100%;
            }

            .overview-header {
                max-width: 90%;
            }

            .toggle {
                font-size: 17px;
            }
        }

        #nav-container {
            pointer-events: none;
            z-index: 1;
        }


        #nav-container .bg {
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            height: calc(100% - 100px);
            visibility: hidden;
            opacity: 0;
            transition: .3s;
            background: #000;
            z-index: 1;
        }

        #nav-container:focus-within .bg {
            visibility: visible;
            opacity: .6;
        }

        #nav-container * {
            visibility: visible;
        }

        .nav-button {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            border: 0;
            background: transparent;
            height: 100px;
            width: 30px;
            cursor: pointer;
            pointer-events: auto;
            margin-left: 25px;
            touch-action: manipulation;
        }

        .icon-bar {
            display: block;
            width: 100%;
            height: 3px;
            background: #aaa;
            transition: .3s;
        }

        .icon-bar+.icon-bar {
            margin-top: 5px;
        }

        #nav-container:focus-within .button {
            pointer-events: none;
        }

        #nav-container:focus-within .icon-bar:nth-of-type(1) {
            transform: translate3d(0, 8px, 0) rotate(45deg);
        }

        #nav-container:focus-within .icon-bar:nth-of-type(2) {
            opacity: 0;
        }

        #nav-container:focus-within .icon-bar:nth-of-type(3) {
            transform: translate3d(0, -8px, 0) rotate(-45deg);
        }

        #nav-content {
            margin-top: 100px;
            padding: 20px;
            width: 90%;
            max-width: 300px;
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - 100px);
            background: #ececec;
            pointer-events: auto;
            transform: translateX(-100%);
            transition: transform .3s;
            z-index: 1;
        }

        #nav-content ul {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        #nav-content li a {
            padding: 10px 5px;
            display: block;
            text-transform: uppercase;
            transition: color .1s;
        }

        #nav-content li a:hover {
            color: #BF7497;
        }

        #nav-container:focus-within #nav-content {
            transform: none;
        }

        .main-title-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: hsl(225, 100%, 98%)
        }

        .main-title {
            padding-left: 80px;
        }

        /* #endregion */
    </style>
</head>

<body class="light-theme">
    <div id="nav-container">
        <div class="bg"></div>
        <div class="main-title-container">
            <span class="nav-button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
            <span class="main-title">
                <h1>Social Media Dashboard</h1>
                <h3 id="total-followers">Total Followers: <%= totalFollowers %>
                </h3>
            </span>
        </div>
        <div id="nav-content" tabindex="0">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Services</a></li>
                <li><a href="#0">Blog</a></li>
                <li><a href="#0">About</a></li>
                <li><a href="#0">Contact</a></li>
                <li class="small"><a href="#0">Facebook</a><a href="#0">Instagram</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="header-wrapper">
            <!-- <h1>Social Media Dashboard</h1>
            <h3 id="total-followers">Total Followers: <%= totalFollowers %>
            </h3> -->
        </div>
    </header>

    <div class="kpi-wrapper">
        <!-- Facebook KPI -->
        <div class="kpi-card">
            <div class="card-top-facebook"></div>
            <div class="kpi-card-top">
                <div class="icon"><img src="../images/icon-facebook.svg" alt="facebook"></div>
                <div class="handle">
                    <p id="facebook-handle">
                        <%= facebookHandle %>
                    </p>
                </div>
            </div>
            <div class="kpi" id="facebook-followers">
                <%= facebookFollowers %>
            </div>
            <div>
                <h4 class="unit-of-measure">FOLLOWERS</h4>
            </div>
            <div>
                <p class="delta up">&#9652; <span id="facebook-delta">
                        <%= facebookDelta %>
                    </span> Today</p>
            </div>
        </div>

        <!-- Twitter KPI -->
        <div class="kpi-card">
            <div class="card-top-twitter"></div>
            <div class="kpi-card-top">
                <div class="icon"><img src="resources/images/icon-twitter.svg" alt="twitter"></div>
                <div class="handle">
                    <p id="twitter-handle">
                        <%= twitterHandle %>
                    </p>
                </div>
            </div>
            <div class="kpi" id="twitter-followers">
                <%= twitterFollowers %>
            </div>
            <div>
                <h4 class="unit-of-measure">FOLLOWERS</h4>
            </div>
            <div>
                <p class="delta up">&#9652; <span id="twitter-delta">
                        <%= twitterDelta %>
                    </span> Today</p>
            </div>
        </div>

        <!-- Instagram KPI -->
        <div class="kpi-card">
            <div class="card-top-instagram"></div>
            <div class="kpi-card-top">
                <div class="icon"><img src="resources/images/icon-instagram.svg" alt="instagram"></div>
                <div class="handle">
                    <p id="instagram-handle">
                        <%= instagramHandle %>
                    </p>
                </div>
            </div>
            <div class="kpi" id="instagram-followers">
                <%= instagramFollowers %>
            </div>
            <div>
                <h4 class="unit-of-measure">FOLLOWERS</h4>
            </div>
            <div>
                <p class="delta up">&#9652; <span id="instagram-delta">
                        <%= instagramDelta %>
                    </span> Today</p>
            </div>
        </div>

        <!-- YouTube KPI -->
        <div class="kpi-card">
            <div class="card-top-youtube"></div>
            <div class="kpi-card-top">
                <div class="icon"><img src="resources/images/icon-youtube.svg" alt="youtube"></div>
                <div class="handle">
                    <p id="youtube-handle">
                        <%= youtubeHandle %>
                    </p>
                </div>
            </div>
            <div class="kpi" id="youtube-subscribers">
                <%= youtubeSubscribers %>
            </div>
            <div>
                <h4 class="unit-of-measure">SUBSCRIBERS</h4>
            </div>
            <div>
                <p class="delta down">&#9662; <span id="youtube-delta">
                        <%= youtubeDelta %>
                    </span> Today</p>
            </div>
        </div>
    </div>

    <div class="overview-header">
        <h2>Overview - today</h2>
    </div>

    <div class="overview-kpis">
        <div class="overview-wrapper">
            <!-- Facebook Page Views -->
            <div class="kpi-small">
                <div class="page-views">Page Views</div>
                <div class="logo"><img src="resources/images/icon-facebook.svg" alt="facebook"></div>
                <div class="views" id="facebook-page-views">
                    <%= facebookPageViews %>
                </div>
                <div class="movement up">&#9652; <span id="facebook-page-movement">
                        <%= facebookPageMovement %>
                    </span></div>
            </div>

            <!-- Twitter Page Views -->
            <div class="kpi-small">
                <div class="page-views">Likes</div>
                <div class="logo"><img src="resources/images/icon-twitter.svg" alt="twitter"></div>
                <div class="views" id="twitter-page-views">
                    <%= twitterPageViews %>
                </div>
                <div class="movement up">&#9652; <span id="twitter-page-movement">
                        <%= twitterPageMovement %>
                    </span></div>
            </div>

            <!-- Instagram Page Views -->
            <div class="kpi-small">
                <div class="page-views">Likes</div>
                <div class="logo"><img src="resources/images/icon-instagram.svg" alt="instagram"></div>
                <div class="views" id="instagram-page-views">
                    <%= instagramPageViews %>
                </div>
                <div class="movement up">&#9652; <span id="instagram-page-movement">
                        <%= instagramPageMovement %>
                    </span></div>
            </div>

            <!-- YouTube Page Views -->
            <div class="kpi-small">
                <div class="page-views">Likes</div>
                <div class="logo"><img src="resources/images/icon-youtube.svg" alt="youtube"></div>
                <div class="views" id="youtube-page-views">
                    <%= youtubePageViews %>
                </div>
                <div class="movement up">&#9652; <span id="youtube-page-movement">
                        <%= youtubePageMovement %>
                    </span></div>
            </div>
        </div>
    </div>
</body>

</html>